

#pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
}
#texto {
    border-right: 1px solid;
    padding-right: 30px;
}

#parcerias {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

img {
    width: 150px;
}
.descricao {
    width: 500px;
}
#conteudo {
    display: flex;
    justify-content: space-between;
    width: 70%;
    gap: 20px;
}